<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if(typeof content != 'undefined') { %>
    <p class="text-info">
    	<i class="icon-ok"></i> <%= content %>
    </p>
    <% } %>
  </body>
</html>